<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1"
	android:versionName="1.0"
	package="be.x3factr.tests.Find_My_Beer">

	<uses-sdk android:minSdkVersion="15" />

	<application android:label="Find My Beer">


	</application>

</manifest>
